
@*@{
    ViewData["Title"] = "Registration1";
    Layout = "~/Views/Home/Registration1.cshtml";
}*@
@*<p>Movie Registration Form </p>*@

@*@model RentMovie*@


@*<form method="post" asp-controller="" asp-action="Result">

    <p>ID</p>
        <input type="text" name="ID" />
    <h1></h1>
    <p>Qty</p>
    <input type="text" name="Qty" />
    <h1></h1>
    <p>Title</p>
    <input type="text" name="Title" maxlength="50" />

    <p><h1></h1></p>

    <label for="genres">Choose a Genre:</label>
    <p></p>
    <select name="Genre">
        <option value="Horror">Horror</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Action">Action</option>
    </select>
    <p></p>


    <p>Year</p>*@
    @*<input type="date" name="releaseYear" min="1880-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />*@
    @*<input type="text" name="Year" />
    <h1></h1>
    <p>Runtime</p>
    <input type="text" name="Runtime" />


    <input type="submit" />

</form>*@

