<p>Movie Registration Form </p>


@model MoviesRegistration.Models.Movie

<form action="Result" method="post">

    <p>ID</p>
    <input type="text" name="ID" />
    <p>Title</p>
    <input type="text" name="Title" />
    <p>Genre</p>
    <input type="text" name="Genre" />
    <p>Year</p>
    <input type="number" name="Year" />
    <p>Actors</p>
    <input type="text" name="Actors" />
    <p>Directors</p>
    <input type="text" name="Directors" />

    <input type="submit" />

</form>

